/******* Colors ************

Blue: #1E376C

White: #FFFFFF

Gray: #D6D6D6
*****/

body,p,div{
     font-family: "Funnel Display", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
      font-family: "Alfa Slab One", serif;

}